@import "tailwindcss";
@plugin "@tailwindcss/typography";

html, body {
  overflow-x: hidden;
  max-width: 100vw;
}


@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --font-display: 'Cinzel Decorative', sans-serif;
  --font-serif: 'Merriweather', serif;
  
  --color-studio-50: #f8f9fa;
  --color-studio-100: #f1f3f5;
  --color-studio-900: #0f172a;
  --color-studio-accent: #4f46e5;
  
  --animate-float: float 6s ease-in-out infinite;
  --animate-shutter: shutter 1.2s cubic-bezier(0.87, 0, 0.13, 1) forwards;
  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

@keyframes shutter {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-100%); }
}
